/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: #ffd569;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #000000;
  font-family: 'Roboto';
  font-size: 64px;
  font-weight: 500;
}

.card-container {
  background-color: #ffffff;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pictures {
  width: 50%;
}

.mango {
  color: #ffd569;
  font-family: 'Roboto';
  font-size: 64px;
  font-weight: 500;
}

.banana {
  color: #ffd569;
  font-family: 'Roboto';
  font-size: 64px;
  font-weight: 500;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 20px;
}
